{% extends 'index/base.html' %}

{% block content %}
	{% for user in users %}
		<div class="user">
			<h1><a href="">{{ user }}</h1></a>
		</div>
	{% endfor %}
    {% for product in products %}
        <div class="product">
            <h1><a href="{% url 'product_detail' pk=product.pk %}">{{ product.name }}</a></h1>
            <h4>{{ product.manufacturer }}</h4>
            <p>{{ product.description|linebreaksbr }}</p>
            <div class="date">
                {{ product.created_date }}
            </div>
        </div>
    {% endfor %}
{% endblock %}