{% load staticfiles %}
{% load group_tag %}

<html>
    <head>
        <title>Django Furniture Shop</title>
    </head>
    <body>
    <div class="page-header">
        <h1><a href="/">Furniture Shop</a></h1>
        {% if request.user|group_tag:"Provider"  %}
            <h1>Provider</h1>
        {% endif %}
        <ul class="menu">
        </ul>
    </div>
    <div class="sidenav">
            <a href="/">Strona Główna</a>
            {% if user.is_authenticated %}
            <a href="/logout/">logout</a>
            {% else %}
            <a href="/register/">Zarejestruj</a>
            <a href="/login/">Login</a>
            {% endif %}
            <a href="/">Strona Główna</a>
        </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>