{% load group_tag %}

<div class="col-md-12 mb-4">
    {% if request.user|group_tag:"Customer"  %}
        
    <h4 class="d-flex justify-content-between align-products-center mb-3">
        <span class="text-muted">Zawartość koszyka</span>
        <span class="badge badge-secondary badge-pill">{{ order.products.count }}</span>
        </h4>
        <ul class="list-group mb-3 z-depth-1">
        {% for order_product in order.products.all %}
        <li class="list-group-product d-flex justify-content-between lh-condensed">
            <div>
            <h6 class="my-0">{{ order_product.quantity }} x {{ order_product.product.name}}</h6>
            {% if product.photo %}
                        <img src="{{ order_product.product.photo.url}}">
            {% endif %}
            <small class="text-muted">{{ order_product.product.description}}</small>
            </div>
            <span class="text-muted">{{ order_product.get_total_price }} zł</span>
        </li>
        {% endfor %}
        <li class="list-group-product d-flex justify-content-between">
            <span>Suma :</span>
            <strong>{{ order.get_total }} zł</strong>
        </li>
    </ul>
    {% else %}
    <h1>Nie masz tutaj dostępu!</h1>
    {% endif %}
    </div>
    