{% extends 'index/base.html' %}
{% load staticfiles %}
{% load group_tag %}

{% block content %}
	<ul class="user">
    </ul>
    {% if request.user|group_tag:"Provider"  %}
        <button><a href="{% url 'new_product' %}">New</a></button>
    {% endif %}
    
    {% for product in products %}
    <article>
        <div class="product">
            <h1><a href="{% url 'product_detail' pk=product.pk %}">{{ product.name }}</a></h1>
            <h4>{{ product.manufacturer }}</h4>
            <h6><div class="date">
                    {{ product.created_date }}
                </div></h6>
            {% if product.photo %}
                <img src="{{ product.photo.url}}" height="50">
            {% endif %}
                <b><p>{{ product.price|linebreaksbr }} zł</p></b>
            <button>Dodaj do koszyka</button>
        </div>
    </article>
    {% endfor %}
{% endblock %}