{% extends 'index/base.html' %}
{% load staticfiles %}
{% load group_tag %}

{% block content %}
{% load group_tag %}


          <form class="form-inline ml-4 my-2 my-lg-1 mt-2">
                <input 
                class="form-control mr-sm-2 mb-2 mt-2"    
                type="search"
                placeholder="Search"
                aria-label="Search"
                name="search"
                value="{{search_phrase}}">
                <button type="submit" class="btn btn-primary  mb-2 mt-2">
                        <span class="glyphicon glyphicon-search"></span> Search
                      </button>
                
          </form>
          <form class="form-inline ml-4 my-2 my-lg-1 mb-2">
                <input 
                class="form-control mr-sm-2 mb-2"    
                type="search"
                placeholder="Search Manufacturer"
                aria-label="Search Manufacturer"
                name="search_manufacturer"
                value="{{search_manufacturer}}">
                <button type="submit" class="btn btn-primary mb-2">
                        <span class="glyphicon glyphicon-search"></span> Search
                      </button>
                
            </form>
            <hr class="mt-0 mb-2">

    {% if request.user|group_tag:"Provider"  %}
        <a href="{% url 'new_product' %}" class="btn btn-success mb-2 ml-4"><span class="glyphicon glyphicon-add"></span>Dodaj Produkt</a>
        <hr class="mt-0 mb-2">

    {% endif %}
    
    {% for product in products %}
    <article>
        <div class="product">
            <ul class="row">

                <div class="mr-4">

                    {% if product.photo %}
                        <img src="{{ product.photo.url}}" height="150" width="150" >
                    {% endif %}
                    
                </div>
                <div>

                    <h1><a href="{% url 'product_detail' pk=product.pk %}">{{ product.name }}</a></h1>
                    <h4>{{ product.manufacturer }}</h4>
                    <h6><div class="date">
                            {{ product.created_date }}
                        </div></h6>
                        <b><p>{{ product.price|linebreaksbr }} zł</p></b>

                </div>

            </ul>
        </div>
    </article>
    <hr class="mt-0 mb-2">
    {% endfor %}
    
    <nav aria-label="Page navigation" class="pagination">
            <ul class="pagination">
                {% if products.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; Pierwsza</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">Poprzednia</a></li>
                {% endif %}
                {% for i in products.paginator.page_range %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endfor %}

                {% if products.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">Następna</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ products.paginator.num_pages }}">Ostatnia &raquo;</a></li>
                {% endif %}
            </ul>
            
    </ul>
    
</nav>
        <span class="current">
            Strona {{ products.number }} z {{ products.paginator.num_pages }}.
        </span>
{% endblock %}