{% extends 'index/base.html' %}
{% load staticfiles %}
{% load group_tag %}

{% block content %}
	<ul class="user">
    </ul> 
    {% if request.user|group_tag:"Provider"  %}
        <button><a href="{% url 'new_product' %}">New</a></button>
        <button><a href="{% url 'edit_product' pk=product.pk %}">Edit</a></button>
        <button><a href="{% url 'delete_product' pk=product.pk %}">Delete</a></button>
    {% endif %}

    {% if user == product.manufacturer %}
         		<h1>To twój produkt</h1>
            {%endif %}
        <div class="product">
            <h1>{{ produt.name }}</h1>
            <h4>{{ product.manufacturer }}</h4>
                <h6><div class="date">
                        {{ product.created_date }}
                    </div></h6>
                    {% if product.photo %}
                        <img src="{{ product.photo.url}}">
                    {% endif %}
                    <p>{{ product.description|linebreaksbr }}</p>
            <b><p>{{ product.price|linebreaksbr }} zł</p></b>
            <a href="{% url 'add_to_cart' pk=product.pk %}" class="btn btn-primary btn-md my-0 p">
                    Dodaj do koszyka
                    <i class="fas fa-shopping-cart ml-1"></i>
                  </a>
                  <a href="{% url 'remove_from_cart' pk=product.pk %}" class="btn btn-danger btn-md my-0 p">
                    Usuń z koszyka
                  </a>
        </div>
{% endblock %}