{% extends 'index/base.html' %}
{% load staticfiles %}

{% block content %}
	<ul class="user">
    </ul>
    
    {% if user == product.manufacturer %}
         		<h1>To twój produkt</h1>
            {%endif %}
        <div class="product">
            <h1>{{ produt.name }}</h1>
            <h4>{{ product.manufacturer }}</h4>
                <h6><div class="date">
                        {{ product.created_date }}
                    </div></h6>
                    <img src="{{ product.photo.url}}">
                    <p>{{ product.description|linebreaksbr }}</p>
            <b><p>{{ product.price|linebreaksbr }} zł</p></b>
            <button>Dodaj do koszyka</button>
        </div>
{% endblock %}